<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="list text-center padding">
      <img class="logo" src="img/rolls.jpg">
      <h2><span class="bold"> MDP oublié  ? </span></h2>
      <h4 class="line-height-160"> clique sur le bouton ma gueule </h4>
    </div>
    <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && resetPassword(user)">
      <div class="list">
        <label class="item item-input" style="margin-bottom: 10px;">
          <span class="input-label">Email:</span>
          <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <input type="submit" class="button button-block button-positive" value="Réinitialiser le MDP" ng-disabled="forgotPasswordForm.$invalid">
      </div>
    </form>
    <button onclick="location.href='#/login';" class="button button-assertive button-block button-no-margin-top">retour à la connexion </button>
  </ion-content>
</ion-view>
