<ion-view view-title="Soumettre une idée" xmlns="http://www.w3.org/1999/html">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

<ion-content>

    <div class="formulaire">
    <form action="" ng-controller="postIdeaController">

        <p>Votre nom (obligatoire)</p>
        <label class="item item-input" id="name">
            <input type="text" ng-model="name" required/>
        </label>
        <br>


        <p> Votre prénom (obligatoire)</p>
        <label class="item item-input">
            <input type="text" ng-model="firstname" required />
        </label>

        <p>Votre idée (obligatoire) </p>
        <label class="item item-input">
            <input type="text" ng-model="idea" required/>
        </label>
        <br><p>Votre adresse email (obligatoire) </p>
        <label class="item item-input">
            <input type="text" ng-model="email"required />
        </label>
        <br><br><p>Votre service KeolisCif (obligatoire) </p>
        <label class="item item-input" required>
            <input type="text" ng-model="service"/>
        </label>
        <br>
        <button class="button button-positive" ng-click="addIdea() ; showAlert()">Soumettre</button>

    </form>
</div>
</ion-content>