.welcome1 { text-align:  center ;


}/* Empty. Add your own CSS if you like */

.button1 {

    padding-top: 50px ;


}

.formulaire {

    padding-right : 40px ;
    padding-left : 40px ;
    padding-top: 20px;
}

.soumettre { text-align: center }